header {
    margin-bottom: 20px;
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

#logo {
    width: 10vw;
    height: 10vw;
}

nav a {
    text-decoration: none;
    color: blue;
    padding: 0.5em 0.75em;
    margin: 0.25em;
    border-radius: 0.25em;
}

nav a:hover {
    text-decoration: underline;
    background-color: white;
    color: red;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: orange;
}

button {
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
}

button:hover {
    background-color: crimson;
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
    text-align: center;
}

.herocontainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.herocontainer img {
    width: 100%;
    height: 750px;
    object-fit: cover;
    opacity: 0.45;
}

.herocontainer h1, .herocontainer p {
    position: absolute;
    margin: 0;
    left: 15vw;
    color: white;
    z-index: 1;
}

.herocontainer p {
    top: 50%;
    font-weight: bold;
}

.herocontainer h1 {
    top: 40%;
}

.image-and-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
}

.image-and-button-container * {
    text-align: left;
    max-width: 20vw;
}

.image-and-button-container img {
    width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
}

#clock {
    font-size: 25px;
    width: 200px;
    margin: 25px auto; 
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 20px; 
    background-color: black; 
}




@media (max-width: 960px) {
    body {
        font-size: 0.9rem;
    }

    #logo {
        width: 20vw;
        height: 20vw;
    }


    .herocontainer {
        flex-direction: column; 
        align-items: center;
    }

    .herocontainer img {
        height: auto; 
    }

    .herocontainer h1, .herocontainer p {
        position: static;
        margin-top: 10px;
        text-align: center;
        padding: 0 10px;
    }

    .herocontainer h1 {
        font-size: 1.2rem; 
    }

    .herocontainer p {
        font-size: 0.9rem;
    }

    
    .image-and-button-container {
        flex-direction: column;
        align-items: center;
    }

    .image-and-button-container * {
        max-width: 90vw;
        text-align: center;
    }
}



